extends ../layout

block content
  .page-header
    h3 Sign up
  br
  form.form-horizontal(action='/signup', id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      .row
        .input-field.col-sm-7
          i.material-icons.prefix account_circle
          input.validate(type='text', name='name', id='name', required='true')
          label.control-label(for='firstName') First name
          
      .row
        .input-field.col-sm-7
          i.material-icons.prefix email
          input.validate(type='text', name='email', id='email', required='true')
          label.control-label(for='email') Email
          
      .row
        .input-field.col-sm-7
          i.material-icons.prefix phone
          input.validate(type='tel', name="phone", id="phone", required='true')
          label.control-label(for='phone') Phone number
      
      .row
        .input-field.col-sm-7
          i.material-icons.prefix lock
          input.validate(type='password', name="password", id="password", required='true')
          label.control-label(for='password') Password
          
      .row
        .input-field.col-sm-7
          i.material-icons.prefix lock
          input.validate(type='password', name="confirmPassword", id="confirmPassword", required='true')
          label.control-label(for='confirmPassword') Confirm Password
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Signup
