extends layout

block content
  .row
    .col.s9
      h2 Honey I'm home!
    .col.s3
      a.waves-effect.waves-light.btn-large(href='/login', role='button') Login »

  h5
    i The next generation in home automation
  hr
  


  .row
    .col.s6
      h3 Home, sweet home!
      p Homes are becoming smarter every day. From the moment you walk in your home, HIH greets you with a nice warm welcome and configures your house to perfection. From changing the room temperature, to playing some soothing music, HIH gives your home a personality that you get to configure.
      a.waves-effect.waves-light.btn(href='/signup', role='button')
        i.material-icons.left cloud
        | Sign up now!
    //- .col-sm-6
    //-   h2 Login
    //-   p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-   
    //-   a.btn.btn-default(href='#', role='button') View details »
    //- .col-sm-6
    //-   h2 Heading
    //-   p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-   p
    //-     a.btn.btn-default(href='#', role='button') View details »
    //- .col-sm-6
    //-   h2 Heading
    //-   p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-   p
    //-     a.btn.btn-default(href='#', role='button') View details »
