<div class="row">
  <div class="col s9">
    <h2>Honey I'm home!</h2>
  </div>
</div>

<h5><i>The next generation in home automation</i></h5>
<hr/>
<div class="row">
  <div class="col s6">
    <h3>Home, sweet home!</h3>
    <p>Homes are becoming smarter every day. From the moment you walk in your home, HIH greets you with a nice warm welcome and configures your house to perfection. From changing the room temperature, to playing some soothing music, HIH gives your home a personality that you get to configure.</p><a href="/signup" role="button" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Sign up now!</a>
  </div>
</div>
