<div class="container">
  <h1>Choose a Household</h1>
  <div class="row">
    <div class="col s6"><a href="/household/new" class="waves-effect waves-light btn-large"><i class="material-icons left">add</i>Create New Household</a></div>
    <div class="col s6"><a href="/household/join" class="waves-effect waves-light btn-large"><i class="material-icons right">search</i>Join Existing Household</a></div>
    <div class="row"></div>
    <div style="text-align: center" class="col s12"><a href="/logout" class="waves-effect waves-light btn-large">logout</a></div>
  </div>
</div>
